[submodule "modules/utils"]
	path = modules/utils
	url = https://github.com/LMSBioinformatics/nf_mod_utils.git
[submodule "modules/fastqc"]
	path = modules/fastqc
	url = https://github.com/LMSBioinformatics/nf_mod_fastqc.git
[submodule "modules/sourmash"]
	path = modules/sourmash
	url = https://github.com/LMSBioinformatics/nf_mod_sourmash.git
[submodule "modules/multiqc"]
	path = modules/multiqc
	url = https://github.com/LMSBioinformatics/nf_mod_multiqc.git
