manifest {
    name = 'nf_qc'
    version = '0.1a'
    description = 'Some description text'
    author = 'George Young'
    homePage = 'https://foo.bar.com'
    doi = 'placeholder'
    recurseSubmodules = true
}

///////////////////////////////////////////////////////////////////////////////
// Submodule config imports ///////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
includeConfig './modules/fastqc/module.config'

///////////////////////////////////////////////////////////////////////////////
// Pipeline defaults //////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
params {
    outdir = 'results'
    workdir = 'work'
}

///////////////////////////////////////////////////////////////////////////////
// Pipeline execution reporting ///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
def timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = false
    file = "${params.outdir}/pipeline_info/exec_timeline_${timestamp}.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/exec_report_${timestamp}.html"
}
trace {
    enabled = false
    file = "${params.outdir}/pipeline_info/exec_trace_${timestamp}.html"
}
dag {
    enabled = false
    file = "${params.outdir}/pipeline_info/exec_dag_${timestamp}.html"
}
// Capture exit codes from upstream processes when piping
process{
    shell = ['/bin/bash', '-euo', 'pipefail']
}
