manifest {
    name = 'LMSBioinformatics/nf_qc'
    description = 'Nextflow QC pipeline'
    author = ['George Young']
    homePage = 'https://github.com/LMSBioinformatics/nf_qc'
    version = 'v0.1'
    defaultBranch = 'v0.1'
    doi = ''
    recurseSubmodules = true
}

///////////////////////////////////////////////////////////////////////////////
// Submodule config imports ///////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
includeConfig './modules/fastqc/module.config'
includeConfig './modules/sourmash/module.config'
includeConfig './modules/multiqc/module.config'

///////////////////////////////////////////////////////////////////////////////
// Pipeline defaults //////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
params {
    _submodules = ['fastqc', 'sourmash', 'multiqc']
    _required_arguments = ['run_dir']
    outdir = 'outputs'
    workdir = 'work'
    glob = '*.f*q.gz'
}

///////////////////////////////////////////////////////////////////////////////
// Pipeline execution reporting ///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
def timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = false
    file = "${params.outdir}/pipeline_info/exec_timeline_${timestamp}.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/exec_report_${timestamp}.html"
}
trace {
    enabled = false
    file = "${params.outdir}/pipeline_info/exec_trace_${timestamp}.html"
}
dag {
    enabled = false
    file = "${params.outdir}/pipeline_info/exec_dag_${timestamp}.html"
}
// Capture exit codes from upstream processes when piping
process{
    shell = ['/bin/bash', '-euo', 'pipefail']
}
